@font-face {
    font-family: 'MyFont';
    src: url('./my-font.otf');
 }

*{
    margin: 0;
    font-family: 'MyFont','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: grid;
    grid-template-rows: 1fr 4fr;
    background: url('./images/dosaBG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid #f3f4f6;
}

header button{
    background: transparent;
    color: #f3f4f6;
    border: none;
    width: 6rem;
    height: 4rem;
    font-size: 23px;
}

.current{
    border-bottom: 2px solid #f3f4f6;
}

#content{
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.intro{
    padding: 2%;
    margin-top: 4rem;
    width: 36rem;
    height: 23rem;
    color: #f3f4f6;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
}

.intro hr{
    margin: 3px;
    width: 55%;
    height: 2px;
    background-color: #f3f4f6;
}

.intro p{
    margin: 2%;
}

.menuBox{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: space-around;
    gap: 3px;
    margin-top: 15px;
    color: #f3f4f6;
}

.box{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 10rem;
    padding: 15px;
    font-size: 15px;
    gap: 55px;
}


.box:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.box:hover h2{
    font-size: 30px;
    color: #fbbf24;
}

.box:hover #idli,
.box:hover #dosa,
.box:hover #rice,
.box:hover #pongal,
.box:hover #biryani,
.box:hover #fry{
    transform: scale(1.2);
}

#idli,
#dosa,
#rice,
#pongal,
#biryani,
#fry{
    grid-column: 1;
    width: 65%;
    height: 60%;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-self: center;
}

#idli{
    background-image: url('./images/idli.jpg');
}

#dosa{
    background-image: url('./images/dosaBG.jpg');
}

#rice{
    background-image: url('./images/rice.jpg');
}

#pongal{
    background-image: url('./images/pongal.jpg');
}

#biryani{
    background-image: url('./images/biryani.jpg');
}

#fry{
    background-image: url('./images/fry.jpg');
}

#res hr{
    margin: auto;
    width: 70%;
    height: 2px;
    background-color: #f3f4f6;
}

#res{
    display: flex;
    flex-direction: column;
    gap: 5px;   
}